#projects{
    background-color: var(--gray-200);
}

#projects>h4{
    color: var(--red);
    margin-block: 72px 8px;
}

#projects>div{
    margin-inline: auto;
    margin-block: 56px 144px;
    width: 1040px;
    height: 584px;
    display: grid;
    grid-template-areas:
    "A A A "
    "A A A ";
    gap: 24px;
}

.card{
    width: 330px;
    height: 280px;
    background-color: var(--gray-300);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.card>img{
    margin-inline: auto;
    margin-top: 12px;
    width: 306px;
    border-radius: 8px;
}

.card>div{
    width: 306px;
    margin: auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 4px;
}

.card>div>p{
    color: var(--gray-500);

}

